.container{
    background-color: rgb(179, 208, 228);
    padding: 20px;
    font-family: sans-serif;
    margin: auto;
    width: 600px;
    border-radius: 5px;
}
.star{
    color: red;
}
.name-box{
    display: flex;
}

input[type=text], select, input[type=email], input[type=number], input[type=date]{
    width: 100%;
    padding: 6px;
    border: 1px solid gray;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 7px;
    margin-bottom: 16px;
}

input[type=submit]{
    padding: 6px;
    cursor: pointer;
}





